@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');


.text{
    position: relative;
    background-color: black;
    color: white;
    z-index: 999;    
    font-family: 'Nosifer', cursive;
    left: 0;
    right: 0;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 30%; /* Set the width of the positioned div */
}
