@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');


.text{
    position: relative;
    background-color: black;
    color: white;
    z-index: 999;    
    font-family: 'Nosifer', cursive;
    text-align: center;
    width: 30%; 
    margin-top:37vh;
    margin-left: 11vw;
    font-size: 1.5rem;
}
