@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

#main-nav{
    background-image: url("./fistback.png");
    height: 30vh;
    /* object-fit: cover; */
    background-size: 100%;
    background-position: 80% 45%;
  }
  
  #home{
    font-family: 'Permanent Marker', cursive;
    font-size:1.3rem;
    color:black;
    /* margin-right: 9rem; */
    /* margin-top: 1.7rem; */
  }
  #history{
    font-family: 'Press Start 2P', cursive;
    font-size:1.3rem;
    color:black;
    transform: rotate(-10deg);
    letter-spacing: -4px;
    height: 10vh;
    margin-top: 3rem;
  }
  #logout{
    font-family: 'Rye', cursive;
    font-size:1.3rem;
    color:black;
    transform: rotate(20deg);  
  }
  #profile{
    font-family: 'Frijole', cursive;
    font-size:1.3rem;
    color:black;
    transform: rotate(20deg);  
  
  }
  #welcome{
    font-family: 'Frijole', cursive;
    font-size:1.3rem;
    color:black;
    transform: rotate(-20deg);  
  
  }
  #tattoo-artists{
    font-family: 'Frijole', cursive;
    width: 10vw;
    font-size:1.3rem;
    color:black;
    transform: rotate(-90deg);  
    letter-spacing: -2px;
    /* margin-left: 3rem; */
  
  }
  #tattoos{
    font-family: 'Frijole', cursive;
    font-size:1.3rem;
    color:black;
    transform: rotate(-90deg);  
    letter-spacing: -2px;
  
  }

  a.navbar-item:hover {
    background-color: transparent!important;
  }