@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
.logo {
  text-align: center;
  width: 100%;
  height: 250px;
  margin: auto;
  position: absolute;;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   user-select: none;
   display: flex;
   justify-content: space-around;
   align-items: center;;
}
logo b{
  font: 400 19vh "Rye";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444c4, 0 0 0.5em #ff44448e, 0 0 0.1em #ff44448c, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
#main-nav{
    background-image: url("//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg");
    height: 30vh;
    /* object-fit: cover; */
    background-size: 100%;
    background-position: 80% 45%;
  }
  
  #home{
    font-family: 'Permanent Marker', cursive;
    font-size:1.3rem;
    color:black;
    
    /* margin-right: 9rem; */
    /* margin-top: 1.7rem; */
  }
  #history{
    font-family: 'Press Start 2P', cursive;
    font-size:1.3rem;
    color:black;
    letter-spacing: -4px;
    height: 10vh;
    margin-top: 3rem;
  }
  #logout{
    font-family: 'Rye', cursive;
    font-size:1.3rem;
    color:black; 
  }
  #profile{
    font-family: 'Frijole', cursive;
    font-size:1.3rem;
    color:black; 
  
  }
  #welcome{
    font-family: 'Frijole', cursive;
    font-size:1.3rem;
    color:black;  
  
  }
  #tattoo-artists{
    font-family: 'Frijole', cursive;
    width: 10vw;
    font-size:1.3rem;
    color:black;  
    letter-spacing: -2px;
    /* margin-left: 3rem; */
  
  }
  #tattoos{
    font-family: 'Frijole', cursive;
    font-size:1.3rem;
    color:black;  
    letter-spacing: -2px;
  
  }
 #login{
  font-family: 'Permanent Marker', cursive;
      color:black;
    letter-spacing: -2px;
    font-size:1.3rem;
    left: 40%;
 }
 #signup{
  font-family: 'Permanent Marker', cursive;
      color:black;
    letter-spacing: -2px;
    font-size:1.3rem;
    left: 30%;
 }
  a.navbar-item:hover {
    background-color: transparent!important;
  }